<div cdkDropListGroup>
  <h2>Available items</h2>
  <div
    cdkDropList
    [cdkDropListData]="items"
    (cdkDropListDropped)="drop($event)"
  >
    <div *ngFor="let item of items" cdkDrag class="example">
      {{ item }}
    </div>
  </div>

  <h2>Basket items</h2>
  <div
    cdkDropList
    [cdkDropListData]="basket"
    (cdkDropListDropped)="drop($event)"
  >
    <div *ngFor="let item of basket" cdkDrag class="example">
      {{ item }}
    </div>
  </div>

  <h2>Test items</h2>
  <div cdkDropList [cdkDropListData]="test" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of test" cdkDrag class="example">
      {{ item }}
    </div>
  </div>
</div>
